<div class="table-responsive">
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Mug Shot</th>
          <th>Rubyist</th>
          <th>Joined GitHub</th>
          <th>Repos</th>
          <th>Followers</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.avatar_url, class: "img-thumbnail", width: "100", height: "100" %></td>
          <td><%= link_to user.name, user.html_url %></td>
          <td><%= user.created_at.strftime("%A, %B %e, %Y") %></td>
          <td><%= user.public_repos %></td>
          <td><%= user.followers %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
